# Tokens for Slack
SLACK_API_TOKEN=xoxb-XXXX...
SLACK_SIGNING_SECRET=XXXX...

# environment variables for configuring the periodical checks

# in crontab format, when the bot will check and send automated messages
# the fields are: minute, hour, day of month, month, day of week
# for example here: check every hour between 9:00 and 16:00 on weekdays
BOT_CHECK_SCHEDULE="0 9-16 * * 1-5"

# the minimum number of days from the previous recommendations before new
# automatic message
BOT_DAYS_BETWEEN_MESSAGES=30

# User id database file name. :memory: for in-memory
DB_FILE=:memory:
